*.db
*.db-shm
*.db-wal
*.opendb
trunk/.vs/*
*.obj
*.pdb
*.exe
*.recipe
*.log
*.res
*.tlog
*.asm
*.txt
*.user
*.ipch
*.vs
_shelve_*
trunk/debug_*
trunk/release_*
trunk/dxsdk/*
trunk/scitech/*
trunk/SDL2/*
/trunk/JoeQuake.sdf
/trunk/joequake.aps
