*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.pdb
*.exe
*.recipe
*.log
*.res
*.tlog
*.asm
*.txt
*.user
*.ipch
*.vs
trunk/_shelve_*
Windows/VisualStudio/debug_*
Windows/VisualStudio/release_*
Windows/VisualStudio/JoeQuake.sdf
Windows/VisualStudio/joequake.aps
