.page-content {
  max-width: 740px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 30px 30px;
}
.page-content a {
  color: $link-color;
}
.screen-img {
  margin-left: -60px;
  max-width: 860px;
}
.screen {
  margin-top: 10px;
  margin-bottom: 40px;
}
.screen-caption {
  text-align: center;
  margin-top: 10px;
}